<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="icon" type="image/png" href="./../static/images/reddit.png" th:href="@{/images/reddit.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css" integrity="sha512-7w04XesEFaoeeKX0oxkwayDboZB/+AKNF5IUE50fCUDUywLvDN4gv2513TLQS+RDenAeHEK3O40jZZVrkpnWWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<style>
    li{
    list-style: none;
}
.sorting, .single-post{
    background:white;
    margin:10px;
    padding:10px 20px;
    border-radius: 5px;
}

.btn-vote{
border: none;

}
.main{
background-color:#dae0e6;
padding:30px;
}
</style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main">
    <section class="container my-2 p-2 border rounded" >
        <div class="row">
            <div class="col-md-8 mx-auto p-5" style="background-color:white;border-radius: 10px;">
                <h4 class="my-1 text-secondary border-bottom border-danger py-1">Create a Post</h4>
                <form action="#" th:action="@{/savePost}" th:method="post" th:object="${newPost}" enctype="multipart/form-data" >
                    <div class="form-group my-2">
                        <label for="community">
                            <b>Choose a community</b>
                            <span class="text-danger">* &nbsp; &nbsp;</span>
                        </label>
                        <input name="subreddit" list="community" class="p-1 border-0 border-bottom border-dark" id="community1" placeholder="Choose Community" required/>
                        <datalist  id="community">
                            <option th:each="sub: ${subreddits}" th:value="${sub.name}" >[[${sub.name}]]</option>
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label"><b>Title</b> <span class="text-danger">*</span></label>
                        <input type="text" th:name="title" th:field="${newPost.title}"
                               class="form-control border-0 border-bottom border-dark" id="title" placeholder="Post Title Here" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">
                            <b>Content</b>
                            <span class="text-danger">*</span>
                        </label>
                        <textarea type="text" th:name="content" th:field="${newPost.content}" rows="5"
                                  class="form-control" id="content" placeholder="Post Content Here..." required></textarea>
                    </div>
                    <div class="mb-3 my-4">
                        <label for="link" class="form-label"><b>Link</b></label>
                        <input type="text" th:name="link" th:field="${newPost.link}"
                               class="form-control border-0 border-bottom border-dark" id="link" placeholder="URL" >
                    </div>
                    <div class="my-4">
                        <label class="my-3"><b>Choose Image:</b></label><br />
                        <input type="file" th:name="image" />
                    </div>

                    <!--<input type="hidden" name="id" th:value="${newPost.id}" />-->
                    <button type="submit" class="btn btn-primary my-3">Post</button>
                </form>
            </div>
        </div>

    </section>
</div>
</body>
</html>